{% extends 'base.html' %}

{% block body %}
    <style>
         .center {
              margin-left: auto;
             margin-right: auto;
             width:300px;
             border: 2px ;
             border-radius: 10px;
            background-color: white;
            }
    </style>
</head>
<body>
<form method="POST" enctype="multipart/form-data">

{% csrf_token %}
    <table class="center"  >
        <tr>
            <td  bgcolor="black"  align="center" colspan="2"><h5 style="color:beige">ADD MOVIE</h5></td>

         </tr>

        <tr>

            <td><input size="30" type="text" name="moviename" placeholder="Enter movie name"></td>
        </tr>
        <tr>

            <td colspan="2"><input size="30" type="text" name="description" placeholder="Description about the movie"></td>
        </tr>
        <tr>

            <td><input size="30" type="text" name="year" placeholder="Release Year"></td>
        </tr>
        <tr>

            <td><input  type="file"  size="30" name="image" ></td>
        </tr>

            <br>
            <br>
        <tr><br><br><br>

            <td colspan="2" align="center"><input style="background-color:black; color:beige;border-radius: 10px;" type="submit" value="Add Movie"></td>
        </tr>

    </table>

</form>
{% endblock %}