{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">

        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="{{i.img.url}}"  width="200" height="200px">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.year}}</p>
                    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-warning">More..</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
 <br><br>
<center>
<a  style="background-color:black; color:beige;border-radius: 10px; align:center" href="{% url 'movieapp:addmovie'%}"class="btn btn-warning" >Add Movie</a>
</center>
    {% endblock %}
<!--{% for i in movie_list %}-->
<!--{{i.id}}.-->
<!--{{i.name}}-->
<!--{{i.desc}}-->
<!--{{i.year}}-->
<!--<br>-->
<!--{% endfor %}-->

<!--{% for i in movie_list %}-->
<!--<a href="movie/{{id}}">{{i.name}}</a> <br>-->
<!--{% endfor %}-->


